@import 'app';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  // background: tomato;
  margin: 140px 0 0;
  .post {
    width: 180px;
    height: 180px;
    // margin-bottom: 40px;
    margin-top: -10px;
    // background: peachpuff;
    background-size: cover;
    @media #{$phone-lg} {
      width: 240px;
      height: 240px;
      margin-bottom: 80px;
    }
    @media #{$tablet} {
      width: 400px;
      height: 227px;
    }
    @media #{$desktop} {
      width: 600px;
      height: 427px;
    }
    &:hover h2 {
      @media #{$desktop} {
        display: block;
      }
    }
    h2 {
      @extend .montserrat;
      display: none;
      // color: $color-green;
      // font-size: 60px;
      margin: 0px;
      // margin-top: -14px;
      // margin-left: -4px;
    }
    // .two {
    //   color: $color-yellow;
    //   margin-top: -30px;
    // }
    // // special styling for two-line project titles
    // .s1 {
    //   line-height: 86px;
    //   margin-top: -21px;
    // }
    // .s2 {
    //   @extend .s1;
    //   color: $color-yellow;
    //   margin-top: -129px;
    // }
  }
}

// Generate background images for posts

$project-list : ("orchard", "left"),
                ("aax", "center"),
                ("cos", "center"),
                ("sarah", "center"),
                ("future", "center"),
                ("mosk", "65%");

@each $project, $position in $project-list {
  .#{$project} {
    background: url(../img/#{$project}/main-sm.jpg) #{$position};
  }
}
