@import 'app';

.container {
  margin: 130px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$tablet} {
    margin-top: 200px;
  }
  .title {
    @extend .montserrat;
    text-align: center;
    text-transform: uppercase;
    h2 {
      color: $color-blue;
      font-size: 2em;
      margin: 0px;
      padding: 0px 50px;
      @media #{$tablet} {
        font-size: 3em;
        padding: 0px 150px;
      }
      // @media #{$desktop} {
      //   font-size: 4em;
      // }
    }
    h4 {
      margin: 0px;
      @media #{$tablet} {
        font-size: 1.5em;
      }
      .dot {
        color: $color-blue;
      }
      .tag {
        color: $color-green;
      }
      .year {
        color: $color-red;
      }
    }
  }
  img.proj {
    width: 200px;
    margin: 40px 0px;
    @media #{$tablet} {
      width: 400px;
    }
  }
  .desc {
    @extend .open-sans;
    margin: 0px 0px 80px;
    line-height: 1.2em;
    width: 200px;
    @media #{$tablet} {
      width: 400px;
    }
  }
}
