@import 'app';

.container {
  margin: 130px auto 0;
  @media #{$tablet} {
    margin-top: 200px;
  }
  .title {
    @extend .montserrat;
    text-align: center;
    text-transform: uppercase;
    h2 {
      color: $color-blue;
      font-size: 2em;
      margin: 0px;
      @media #{$tablet} {
        font-size: 3em;
      }
      @media #{$desktop} {
        font-size: 4em;
      }
    }
    h4 {
      margin: 0px;
      @media #{$tablet} {
        font-size: 1.5em;
      }
      .dot {
        color: $color-blue;
      }
      .tag {
        color: $color-green;
      }
      .year {
        color: $color-red;
      }
    }
  }
}
