doctype html
html
head
  block title
  
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="The homepage of Oskar Radon, designer, developer, and artist")
  
  block fonts
  
  block styles
  
body
.outer
  a(href="../index.html")
    h1.logo-left OSKAR
  a(href="../index.html")
    h1.logo-right RADON
  .info
    h2.location PORTLAND, OR
    h2.career Web designer & developer
  a(href="mailto:hi@oskarradon.com")
    
    block hey
    
  block content
