doctype html
html
head
  block title
  
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="The portfolio of Oskar Radon, web developer and UI designer")
  
  block fonts
  
  block styles
  
body
.outer
  a(href="../index.html")
    h1.logo-left OSKAR
  a(href="../index.html")
    h1.logo-right RADON
  .info
    h2.location PORTLAND, OR
    h2.career Web developer & designer
  a(href="mailto:hi@oskarradon.com")
    
    block hey
    
  block content

//- footer
//-   script(src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous")
//-   
//-   block scripts
