//output:index.html

doctype html
html
  include ./jade/_head.jade
  body
    include ./jade/_outer.jade
    .container
      // The second class is the project name (maybe not necessary)
      .post.sarah
        h2 SARAH MEADOWS
        h2.two SARAH MEADOWS
      .post.cos
        h2 COS
        h2.two COS
      .post.mosk
        h2 MOSK
        h2.two MOSK
      .post.future
        h2 FUTURE LOGOS
        h2.two FUTURE LOGOS
      .post.orchard
        h2 ORCHARD47
        h2.two ORCHARD47
      .post.aax
        h2.s1 ALBUM ART EXCHANGE
        h2.s2 ALBUM ART EXCHANGE
