//output:index.html

doctype html
html
  head
    title Oskar Radon
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    header
    div.container
    footer
