//output:index.html
//- mixin generateTitles(title) 
//-   h2.one #{title}
//-   h2.two #{title}
//-   h2.three #{title}
//-   h2.four #{title}


extends jade/base.jade

block title
  title Oskar Radon

block fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="img/alien.png")
  
block styles
  link(rel="stylesheet", href="css/main.css")

block hey
  img.hey(src="img/hey.png")

block content
  .container
    img#pika(src="img/pika.gif")
    a(href="post/scoop.html")
      .post#scoop
        //- +generateTitles("SCOOP APP")
    a(href="post/cos.html")
      .post#cos
        //- +generateTitles("COS")
    a(href="post/mosk.html")
      .post#mosk
        //- +generateTitles("MOSK")
    a(href="post/future.html")
      .post#future
        //- +generateTitles("FUTURE LOGOS")
    a(href="post/orchard.html")
      .post#orchard
        //- +generateTitles("ORCHARD47")
    a(href="post/aax.html")
      .post#aax
        //- +generateTitles("ALBUM ART EXCHANGE")
