//output:index.html

doctype html
html
  include ./jade/_head.jade
  body
    include ./jade/_outer.jade
    .container
      // The second class is the project name (maybe not necessary)
      .post.orchard
        h2.project-name ORCHARD47
      .post.aax
        h2.project-name ALBUM ART EXCHANGE
      .post.cos
        H2.project-name COS
 
mixin post (path, title)
  .post.#{path}
    h2.title1 {#title}
    h2.title2 {#title}
    
+post('orchard', 'ORCHARD47')
