//output:index.html
mixin generateTitles(title) 
  h2 #{title}
  h2.two #{title}
  h2.three #{title}
  h2.four #{title}


doctype html
html
  include ./jade/_head.jade
  body
    include ./jade/_outer.jade
    .container
      // The second class is the project name (maybe not necessary)
      img#pika(src="img/pika.gif")
      a(href="#")
        .post#sarah
          +generateTitles("SARAH MEADOWS")
      a(href="#")
        .post#scoop
          +generateTitles("SCOOP APP")
      a(href="#")
        .post#cos
          +generateTitles("COS")
      a(href="#")
        .post#mosk
          +generateTitles("MOSK")
      a(href="#")
        .post#future
          +generateTitles("FUTURE LOGOS")
      a(href="#")
        .post#orchard
          +generateTitles("ORCHARD47")
      a(href="#")
        .post#aax
          +generateTitles("ALBUM ART EXCHANGE")
          
