//output:index.html

doctype html
html
  include ./jade/_head.jade
  body
    include ./jade/_outer.jade
    .container
      // The second class is the project name (maybe not necessary)
      .post.sarah
        h2.title1 SARAH MEADOWS
        h2.title2 SARAH MEADOWS
      .post.cos
        h2.title1 COS
        h2.title2 COS
      .post.mosk
        h2.title1 MOSK
        h2.title2 MOSK
      .post.future
        h2.title1 FUTURE LOGOS
        h2.title2 FUTURE LOGOS
      .post.orchard
        h2.title1 ORCHARD47
        h2.title2 ORCHARD47
      .post.aax
        h2.title1 ALBUM ART EXCHANGE
        h2.title2 ALBUM ART EXCHANGE
