//output:index.html

mixin generateTitles(title) 
  h2 #{title} <br>&nbsp;&nbsp;#{title} <br>&nbsp;&nbsp;&nbsp;&nbsp;#{title}


extends jade/base.jade

block title
  title Oskar Radon

block fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="img/alien.png")
  
block styles
  link(rel="stylesheet", href="css/main.css")

block hey
  img.hey(src="img/hey.png")

block content

  .bg#scoop-bg
    mixin generateTitles("scoop")
  .bg#cos-bg
    mixin generateTitles("cos")
  .bg#mosk-bg
    mixin generateTitles("mosk")
  .bg#future-bg
    mixin generateTitles("future logos")
  .bg#orchard-bg
    mixin generateTitles("orchard47")
  .bg#aax-bg
    mixin generateTitles("album art exchange")
  
  .container
    a(href="post/scoop.html")
      .post#scoop
    a(href="post/cos.html")
      .post#cos
    a(href="post/mosk.html")
      .post#mosk
    a(href="post/future.html")
      .post#future
    a(href="post/orchard.html")
      .post#orchard
    a(href="post/aax.html")
      .post#aax

block scripts
  script(src="js/jquery-1.12.4.min.js")
  script(src="js/index.js")
