//output:aax.html

extends ../jade/base.jade

block title
  title Album Art Exchange | Oskar Radon

block links
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400|Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="../img/alien.png")
  link(rel="stylesheet", href="../css/project.css")

block hey
  img.hey(src="../img/hey.png")

block content
  
  .container
    .title
      h2 Album Art Exchange
      h4
        span.tag Web
        span.dot  &#8729;  
        span.year 2016
    img.proj(src="../img/aax/aax.png" alt="An image of the homepage of the Album Art Exchange site")
    p.desc.
      I designed and built this re-design of Album Art Exchange's main page with Schulyer Klaasen as a part of the CSS course at Epidocus. I'm particularly proud of the simple JavaScript that randomly changes the images shown on the main page, a task I accomplished without using jQuery. View the Github repository <a href="https://github.com/OskarRadon/Album-Art-Exchange-redesign" title="A link to the Github repository for the project">here</a> and view a live version of the project <a href="http://oskarradon.github.io/Album-Art-Exchange-redesign/" title="A link to a live version of the site">here.</a>
      
    
