//output:future.html

extends ../jade/base.jade

block title
  title Future Logos | Oskar Radon

block links
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400|Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="../img/alien.png")
  link(rel="stylesheet", href="../css/project.css")

block hey
  img.hey(src="../img/hey.png")

block content
  
  .container
    .title
      h2 Future Logos
      h4
        span.tag DESIGN
        span.dot  &#8729;  
        span.year 2015
    img.main(src="../img/mosk/mosk.png" alt="An image of the homepage of the MoSK application")
    p.desc.
      Future Logos is a project I did for fun where I designed logos for imaginary futuristic companies. Then, as a project for the CSS class at Epicodus I built a site for one of the companies. View the repo for the PIVA project <a href="https://github.com/OskarRadon/PIVA" title="A link to the GitHub repository for the PIVA project">here</a>, and view the site <a href="https://oskarradon.github.io/PIVA/" title="A link to the PIVA site">here</a>.
