//output:mosk.html

extends ../jade/base.jade

block title
  title MoSK | Oskar Radon

block links
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400|Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="../img/alien.png")
  link(rel="stylesheet", href="../css/project.css")

block hey
  img.hey(src="../img/hey.png")

block content
  
  .container
    .title
      h2 MoSK
      h4
        span.tag WEB
        span.dot  &#8729;  
        span.year 2016
    img.main(src="../img/mosk/mosk.png" alt="An image of the homepage of the MoSK application")
    p.desc.
      MoSK was a project I designed and built with <a href="https://patternandshape.github.io/" title="The homepage of Molly Curtin">Molly Curtin</a> as a part of the JavaScript course at Epicodus. It is an imaginary marketplace where users can buy and sell immovable or otherwise un-sellable works of art built using the Ember framework and a FireBase database. A live version of the application can be found <a href="https://patternandshape.github.io/mosk/dist/index.html#/" title="A link to a live version of the MoSK application">here</a>, and the GitHub repository can be found <a href="https://github.com/OskarRadon/mosk" title="A link to the GitHub repository for the MoSK project">here</a>.
