//output:orchard.html

extends ../jade/base.jade

block title
  title Orchard47 | Oskar Radon

block links
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400|Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="../img/alien.png")
  link(rel="stylesheet", href="../css/project.css")

block hey
  img.hey(src="../img/hey.png")

block content
  
  .container
    .title
      h2 Orchard47
      h4
        span.tag WEB
        span.dot  &#8729;  
        span.year 2015
    img.proj(src="../img/orchard/main.png" alt="An image of the Orchard47 main page")
    p.desc.
      Orchard was an artist-run space in New York that existed from 2005-2008. I was tasked with converting it from PHP to a static site. This involved re-formatting every page and combing each paragraph on every page for broken links and characters. View the site <a href="http://47orchard.org" title="The Orchard47 main page">here</a>, and view the GitHub repository <a href="https://github.com/OskarRadon/Orchard47" title="The GitHub repo for the Orchard47 project">here</a>.
