//output:scoop.html


extends ../jade/base.jade

block title
  title Scoop | Oskar Radon

block links
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400|Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="../img/alien.png")
  link(rel="stylesheet", href="../css/project.css")

block hey
  img.hey(src="../img/hey.png")

block content
  
  .container
    .title
      h2 Scoop
      h4
        span.tag MOBILE
        span.dot  &#8729;  
        span.year 2016
    a(href="https://invis.io/NZ77VPBBT" title="The InVision demo of the Scoop project")
      img.proj(src="../img/scoop/splash.jpg" alt="An image of 3 screens of the Scoop app")
    p.desc.
      Scoop is a mobile app for people to stay up to date with the flavors of the month and special deals at their local ice cream stores. I designed this with Brooke Hurford as a part of the Epicodus Design course. An InVision demo of this project can be found <a href="https://invis.io/NZ77VPBBT" title="The InVision demo of the Scoop project">here</a>.
