//output:scoop.html

mixin generateTitles(title) 
  h2 #{title}
  h2.two #{title}

extends ../jade/base.jade

block title
  title Oskar Radon | Scoop App

block fonts
  // Hey be sure to remove all the font weights you don't use in the design!
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic,600italic|Montserrat:700" type="text/css")
  link(rel="icon" type="image/png" href="img/alien.png")
  
block styles
  link(rel="stylesheet", href="../css/project.css")

block content
  .container
    .hero
      +generateTitles("SCOOP APP")
      .splash#scoop
    h4 INTRODUCTION
    p.
      Scoop is an app for people to stay up to date with the flavors of the month and special deals at their local ice cream stores. I designed this with Brooke Hurford as a part of the Epicodus Design course. An InVision demo of this project can be found here.
    h4 PREPARATION
    p.
      Our first step was brainstorming a list of possible features. We felt it was most important for users to be able to quickly and easily see a list of the flavors, how much longer the flavor was available for, and where it was available. Other ideas we had included: a social media aspect of leaving reviews for flavors, gaining badges or rewards for reviews, the average line length for each shop, and recommended flavor combinations. 
      <br /><br />
      Then we interviews people around the classroom to get a better understanding of what kind of experience someone would want from our app and what features we should prioritize.
      <br /><br />
      The most important data we got from our interview process was that people were largely uninterested in reviewing products, but would be slightly more inclined to do so if there were good rewards for doing so (i.e: free ice cream). We also learned that people mostly had a favorite type of ice cream rather than an exact favorite flavor, that price was unimportant when deciding to get ice cream, and that people had various dietary restrictions which might restrict their choices. 
      <br /><br />
      From this information we decided to forgo the review part of the app, and to include an onboarding process that recorded the users favorite flavor, and their dietary restrictions to better tailor the experience to the user. After all our preliminary research was over with we sat down to design the app. 
    h4 COLORS
    .color#paris-pass
    p.color-desc Paris Pass
    p.color-desc #D0F5FD
    .color#paris-daisy
    p.color-desc Paris Daisy
    p.color-desc #FFF87A
    .color#pig-pink
    p.color-desc Pig Pink
    p.color-desc #FDD4E7
    .color#shark
    p.color-desc Shark
    p.color-desc #292F36
      
