.outer {
  color: $color-red;
  h1 {
    @extend .montserrat;
    font-weight: 700;
    transform: rotate(-90deg);
    margin: 0px;
    position: fixed;
    @media #{$tablet} {
      font-size: 80px;
    }
    &.logo-left {
      color: $color-red;
      left: -20px;
      top: 70px;
      @media #{$tablet} {
        left: -60px;
        top: 155px;
      }
    }
    &.logo-right {
      color: $color-red;
      right: -20px;
      bottom: 70px;
      @media #{$tablet} {
        right: -70px;
        bottom: 155px;
      }
    }
  }
  .info {
    position: fixed;
    right: 30px;
    top: 30px;
    @media #{$tablet} {
      right: 60px;
      top: 50px;
    }
    h2 {
      margin: 0px;
      &.location {
        @extend .montserrat;
        font-size: 18px;
        @media #{$tablet} {
          font-size: 36px;
        }
      }
      &.career {
        @extend .georgia;
        font-weight: normal;
        font-style: italic;
        font-size: 12px;
        @media #{$tablet} {
          font-size: 24px;
        }
      }
    }
    // animate on hover
    &:hover .contact svg{
      @keyframes appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
          margin-top: 0px;
        }
      }
      @for $i from 1 through 5 {
        $s: #{$i}00;
        &#c#{$i} {
          animation: appear #{$s}0ms ease;
        }
      }
    }
    .contact {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      @media #{$tablet} {
        padding-top: 10px;
        // display: none;
      }
      svg {
        fill: $color-red;
        width: 20px;
        height: 20px;
        opacity: 1;
        @media #{$tablet} {
          opacity: 0;
          margin-top: -50px;
          width: 40px;
          height: 40px;
        }
        &:hover, &:active {
          fill: $color-green;
        }
      }
    }
  }
  .hey {
    width: 60px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    @media #{$tablet} {
      left: 56px;
      bottom: 45px;
    }
  }
}
