.outer {
  color: $color-red;
  h1 {
    @extend .montserrat;
    font-weight: 700;
    transform: rotate(-90deg);
    margin: 0px;
    position: fixed;
    @media #{$desktop} {
      font-size: 80px;
    }
    &.logo-left {
      left: -20px;
      top: 70px;
    }
    &.logo-right {
      right: -20px;
      bottom: 70px;
    }
  }
  .info {
    position: fixed;
    right: 30px;
    top: 30px;
    h2 {
      margin: 0px;
      &.location {
        @extend .montserrat;
        font-size: 18px;
        @media #{$desktop} {
          font-size: 36px;
        }
      }
      &.career {
        @extend .georgia;
        font-weight: normal;
        font-style: italic;
        font-size: 12px;
        @media #{$desktop} {
          font-size: 24px;
        }
      }
    }
  }
  .contact {
    width: 60px;
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
}
