// COLORS

$color-red    : #FF4747;
$color-blue   : #7AD1D1;
$color-green  : #5AD95A;
$color-yellow : #FFEF4F;
$color-black  : #292F36;


// MEDIA QUERY

$desktop    : "(min-width: 950px)";
$phone-lg   : "(min-width: 390px)";
$tablet   : "(min-width: 700px)";
