// MAIN COLORS

$color-red    : #FF4747;
$color-blue   : #7AD1D1;
$color-green  : #5AD95A;
$color-yellow : #FFEF4F;
$color-black  : #292F36;

// POST BG COLORS

$color-scoop-bg: #FDD4E7;


// MEDIA QUERIES

$desktop    : "(min-width: 950px)";
$tablet   : "(min-width: 700px)";
$phone-lg   : "(min-width: 390px)";
